---
permalink: /services
seo_title: "Pro Solutions Just For You!"
title: "Our services"
---

{% include partials/head.html %}

<!-- =====  WRAPPER START  ===== -->
<!-- =====  HEADER START  ===== -->
{% include header.html %}
<!-- =====  HEADER END  ===== -->

<!-- =====  SERVICES STRAT  ===== -->
<section id="service" class="pt_100 pb_50">
	<div class="container">
		<!-- <div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="heading-part ">
					<h2 class="main_title mb_20">What do we do?</h2>
					<p class="mb_50">
							Akolad Creations offers graphic design, illustration, photography, printing social media,
							web devlopment services of the highest quality and is based in Haiti.
					</p>
				</div>
			</div>
		</div> -->
		<!-- Services  -->
		
		<h3 class="mtb_20 text-center text-uppercase" id="graphic-service">Graphic Design</h3>

		<div class="row">
			<div class="col-md-4 col-sm-6">
				<h4 class="mtb_20">Logo Design</h4>
				<p>Stand out from your competition with a unique and memorable logo that will be the face
						of your brand identity!
				</p>
				<br>
				<ul>
					<li>Logo Development</li>
					<li>Brand Identity Design</li>
					<li>Naming</li>
					<li>Tag Lines</li>
					<li>Brand Strategy</li>
					<li>Styleguides</li>
				</ul>	
			</div>
			<div class="col-md-4 col-sm-6">
				<h4 class="mtb_20">Brand Identity Design</h4>
				<p>Maintain a cohesive identity with a brand system. Establish your logos, fonts, colors and
						more, for consistency and unity.
				</p>
				<br>
				<ul>
					<li>Branding</li>
					<li>Styleguides</li>
					<li>Competitive Analysis</li>
					<li>Art Direction</li>
					<li>Copywriting</li>
					<li>Icon Design</li>
					<li>Graphic Design</li>
					<li>Social Media Graphics</li>
				</ul>	
			</div>
			<div class="col-md-4 col-sm-6">
				<h4 class="mtb_20">Others</h4>
				<p>
					Complete service for small, medium and large companies.
					We offer a large range of services to
					enhance your company's brand image.
				</p>
				<br>
				<ul>
					<li>Business cards</li>
					<li>Letterhead</li>
					<li>Enveloppe</li>
					<li>Brand Collateral</li>
					<li>Brochures</li>
					<li>Packaging</li>
					<li>Flyers</li>
					<li>Posters</li>
					<li>Cover Art</li>
					<li>Wedding Invites</li>
					<li>Invitation Cards</li>
					<li>Book Covers</li>
					<li>Magazine</li>
					<li>Annual report</li>
					<li>Billboard</li>
				</ul>	
			</div>
		</div>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<h3 class="mtb_20 text-uppsercase text-center" id="social-service">Social Media</h3>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<p>
					We help SMEs increase their visibility on the web and optimize their
					search <br> engine positioning using the power of social media.
				</p>
				<p>
					We offer a turnkey service to get you started on social media. We will
					develop, for <br> and with you, a strategic plan and a content strategy tailored to your
					goals.
				</p>
				<p>
					Do not worry about your social networks:
				</p>
				<br>
				<ul class="list-unstyled">
					<li><i class="fa fa-instagram"></i> Instagram</li>
					<li><i class="fa fa-facebook"></i> Facebook</li>
					<li><i class="fa fa-linkedin"></i> LinkedIn</li>
					<li><i class="fa fa-google-plus"></i> Google+</li>
					<li><i class="fa fa-twitter"></i> Twitter</li>
				</ul>
			</div>
		</div>
		<!-- Services -->
		<br>
		<br>
		<hr>
	</div>
</section>
<!-- =====  SERVICES END  ===== -->

<!-- =====  CONTACT START  ===== -->
{% include contact.html %}
<!-- =====  CONTACT END  ===== -->

<!-- =====  FOOTER START  ===== -->
{% include footer.html %}