---
permalink: /services
seo_title: "Pro Solutions Just For You!"
title: "Our services"
---

{% include partials/head.html %}
<!-- =====  WRAPPER START  ===== -->
<!-- =====  HEADER START  ===== -->
{% include header.html %}
<!-- =====  HEADER END  ===== -->
<!-- =====  SERVICES STRAT  ===== -->
<section id="service" class="">
    <div class="container">
        <h3 class="mtb_20 text-center text-uppercase pt_100" id="graphic-service">Graphic Design</h3>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Logo Design</h4>
                <p>Stand out from your competition with a unique and memorable logo that will be the face of your brand identity!
                </p>
                <br>
                <ul>
                    <li>Logo Development</li>
                    <li>Brand Identity Design</li>
                    <li>Naming</li>
                    <li>Tag Lines</li>
                    <li>Brand Strategy</li>
                    <li>Styleguides</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Brand Identity Design</h4>
                <p>Maintain a cohesive identity with a brand system. Establish your logos, fonts, colors and more, for consistency and unity.
                </p>
                <br>
                <ul>
                    <li>Branding</li>
                    <li>Styleguides</li>
                    <li>Competitive Analysis</li>
                    <li>Art Direction</li>
                    <li>Copywriting</li>
                    <li>Icon Design</li>
                    <li>Graphic Design</li>
                    <li>Social Media Graphics</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Others</h4>
                <p>
                    Complete service for small, medium and large companies. We offer a large range of services to enhance your company's brand image.
                </p>
                <br>
                <ul>
                    <li>Business cards</li>
                    <li>Letterhead</li>
                    <li>Enveloppe</li>
                    <li>Brand Collateral</li>
                    <li>Brochures</li>
                    <li>Packaging</li>
                    <li>Flyers</li>
                    <li>Posters</li>
                    <li>Cover Art</li>
                    <li>Wedding Invites</li>
                    <li>Invitation Cards</li>
                    <li>Book Covers</li>
                    <li>Magazine</li>
                    <li>Annual report</li>
                    <li>Billboard</li>
                </ul>
            </div>
        </div>
        <br>
        <hr>
        <!-- Photography -->
        <h3 class="mtb_20 text-uppercase text-center pt_100" id="photography-service">Photography</h3>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <p>
                    We like to freeze moments of intimacy, bursts of laughter, tears, and turn those emotions into beautiful memories, so precious with time. We like sparkling and sweet pictures.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4 class="mtb_20">Wedding</h4>
                <ul>
                    <li>Wedding</li>
                    <li>Couple</li>
                    <li>Day after</li>
                    <li>Bachelor party</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4 class="mtb_20">Maternity</h4>
                <ul>
                    <li>New born</li>
                    <li>Future parents</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4 class="mtb_20">Event</h4>
                <ul>
                    <li>Birthday</li>
                    <li>Communion</li>
                    <li>Baptism</li>
                    <li>Party</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4 class="mtb_20">Portrait</h4>
                <ul>
                    <li>Familly</li>
                    <li>Book</li>
                </ul>
            </div>
        </div>
        <br>
        <hr>
        <!-- Illustration -->
        <h3 class="mtb_20 text-uppercase text-center pt_100"  id="illustration-service">Illustration</h3>
        <p class="text-center">
            The success of your business or your advertising campaign
            <br> does not depend just on the quality of your products and services.
            <br> Your image is also a factor of success.
        </p>
        <br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <ul class="list-unstyled">
                    <li>Educational Illustration</li>
                    <li>Commercial Illustration</li>
                    <li>Storyboard</li>
                    <li>Cartoon</li>
                </ul>
            </div>
        </div>
        <br>
        <hr>
        <!-- Printing -->
        <h3 class="mtb_20 text-center text-uppercase pt_100" id="printing-service">Printing</h3>
        <p class="text-center">
            We ensure that your brand stands out from the crowd with premium visual design solutions.
        </p>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Offset Printing</h4>
                <ul>
                    <li>Flyers And Posters</li>
                    <li>Brochure</li>
                    <li>Booklet</li>
                    <li>Notebooks</li>
                    <li>Receipt Books</li>
                    <li>Book covers</li>
                    <li>Letterhead &amp; Envelopes</li>
                    <li>Printed Folders</li>
                    <li>Packaging</li>
                    <li>Cover art</li>
                    <li>Wedding invites</li>
                    <li>Invitation cards</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Signs &amp; Lettering</h4>
                <ul>
                    <li>Boxes</li>
                    <li>Lighted Displays</li>
                    <li>Informations Signs</li>
                    <li>Street &amp; Traffic Signs</li>
                    <li>3D Letters</li>
                    <li>Channel Letters</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Events</h4>
                <ul>
                    <li>Items</li>
                    <li>Backdrops</li>
                    <li>Street Banners</li>
                    <li>Fanions</li>
                    <li>Sound Trucks</li>
                    <li>Rentals</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Textile Printing</h4>
                <ul>
                    <li>Heat Printing</li>
                    <li>Quadrichomy</li>
                    <li>Sublimation</li>
                    <li>Screen Printing</li>
                    <li>Metallic/li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Roll Up &amp; Stands</h4>
                <ul>
                    <li>Roll Up</li>
                    <li>Stands</li>
                    <li>Flag Poles</li>
                    <li>Flags Poles Accessories</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Identification</h4>
                <ul>
                    <li>ID Cards</li>
                    <li>Badge Clips &amp; Holders</li>
                    <li>Lanyards</li>
                    <li>Business Cards</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Embroidery</h4>
                <ul>
                    <li>Patches</li>
                    <li>Caps</li>
                    <li>3D Logos</li>
                    <li>Faces</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Digital Printing</h4>
                <ul>
                    <li>Vinyl</li>
                    <li>Fabrics</li>
                    <li>Banners</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20">Promotional Items</h4>
                <ul>
                    <li>Items</li>
                    <li>Table Displays</li>
                </ul>
            </div>
        </div>
        <br>
        <hr>
        <!-- Social Media -->
        <h3 class="mtb_20 text-uppercase text-center pt_100" id="web-service">Web Design & Development</h3>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-globe"></i> Simple Website</h4>
                <p>Your are looking for a simple website with a couple of static pages, a nice looking landing page, a magazine or even a blog.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-chrome"></i> Web Application</h4>
                <p>You need a web platform, want to manage users, sell products, services with real time analytics or a backend to support your mobile application.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-mobile"></i> Mobile Application</h4>
                <p>You want a mobile application that will consume data from an API, do calculations, allow your web platform's users to reach the service in real time. Or it may be as simple as a presentation application with a couple of screens.</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-server"></i> Web Hosting</h4>
                <p>Every website or web application needs a home on the internet so they can be accessed all over the world. I happen to be good at that too. Ranging from simple shared hosting to a customized VPS (Virtual Private Server) to a dedicated server, or configuring a CDN (Content Delivery Network) for even faster loading time, we can help you get the best for your budget.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-link"></i> Domain Registration</h4>
                <p>Every successful online endeavor starts with a good name and a sweet web address. The latter is called a domain name and is what people will type in their browsers' address bar to access your business online. we can help with finding and registering a great domain name.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-microphone"></i> Online Radio</h4>
                <p>Whether you are in the media, a church, an organization or even a DJ and want to broadcast live audio online to reach more people/fans/users, we have experience with that. we can even get you international number(s) for people outside the country to call and listen. And much more.</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-video-camera"></i> Online TV</h4>
                <p>It's 2018 and people spend more time on their computer and mobile devices more than ever. So if you are a TV, doing multimedia events, an organization... and want to reach more users, broadcasting images and/or videos online might be a good option. Depending on your budget and the size of the audience you want to target, I might have something for you.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-wordpress"></i> WordPress Theme Development</h4>
                <p>You already have a design and want to code it or that static site is already online but you can't update it regularly because you don't know anything about HTML or don't want to get your hands dirty each time you want to make an update. It's frustrating. Isn't it? It's okay. Let me translate that design or static site to a WordPress theme for you so you can use WordPress, the most popular Content Management System in the world, to do it yourself. We'll even provide educational assistance and materials to help you get on speed with the platfom.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="mtb_20"><i class="fa fa-dashboard"></i> Marketing & SEO</h4>
                <p>Having a presence online is great. Good job, you've made it! But wait. You have no visitors, or not the amount you'd expected? You should know by now that people won't know about your website/app if you don't market it. And it has to be optimized for search engine such as Google so people can find it when they search for something related to your business. Luckily for you we've been managing websites that have thousands of visitors a day. And we can help you. We'll leverage social media and other search engine optimization techniques to get people to know about your business.</p>
            </div>
        </div>
        <br>
        <hr>
        <!-- Social Media -->
        <h3 class="mtb_20 text-uppercase text-center pt_100" id="social-service">Social Media</h3>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <p>
                    We help SMEs increase their visibility on the web and optimize their search
                    <br> engine positioning using the power of social media.
                </p>
                <p>
                    We offer a turnkey service to get you started on social media. We will develop, for
                    <br> and with you, a strategic plan and a content strategy tailored to your goals.
                </p>
                <p>
                    Do not worry about your social networks:
                </p>
                <br>
                <ul class="list-unstyled">
                    <li><i class="fa fa-instagram"></i> Instagram</li>
                    <li><i class="fa fa-facebook"></i> Facebook</li>
                    <li><i class="fa fa-linkedin"></i> LinkedIn</li>
                    <li><i class="fa fa-google-plus"></i> Google+</li>
                    <li><i class="fa fa-twitter"></i> Twitter</li>
                </ul>
            </div>
        </div>
        <!-- Services -->
        <br>
        <br>
        <hr>
    </div>
</section>
<!-- =====  SERVICES END  ===== -->
<!-- =====  CONTACT START  ===== -->
{% include contact.html %}
<!-- =====  CONTACT END  ===== -->
<!-- =====  FOOTER START  ===== -->
{% include footer.html %}