<section class="ptb_100">
		<div class="about">
			<div class="container">
				<div class="about-inner ">
					<div class="row">
						<div class="col-md-7">
							<div class="about-text">
								<div class="about-heading-wrap">
									<h2 class="about-heading mb_40 ptb_20">About Us</h2>
								</div>
								<p>
										Akolad Creations is a communication agency. Whether it's graphic design, illustration,
										photography, printing, social media website design, being more visible on Google, email
										or social marketing campaigns, printing services or reworking your image, we have the
										solution that will help you reach your goals and increase your income.
								</p>

								<div class="about-heading-wrap">
									<h3 class="ptb_20">Our Philosophy</h3>
								</div>
								<p>
									Eco-friendly communication! Beyond the concern for aesthetics,
									the visual impact and the respect of
									the environment are at the heart of our thinking.
								</p>

								<div class="about-heading-wrap">
									<h2 class="ptb_20">Our Values</h2>
								</div>
								<p>
									Get a result: <br>
									RELEVANT - SEDUCING - PERCUTANT <br>
									and especially SUSTAINABLE!
								</p>
								<div class="about-heading-wrap">
										<h2 class="ptb_20">Our Mission</h2>
									</div>
									<p>
										Create a visual identity specific to
										your business, allowing you to clearly communicate your
										message and to distinguish you effectively.
									</p>
								<a href="/porfolio" class="custom-btn custom-btns mtb_20" type="button">
									<span>View Portfolio</span>
								</a>
							</div>
						</div>
						<div class="col-md-5">
							<figure>
								<img src="/assets/images/about-img.jpg" alt="#"> </figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>