<section class="ptb_100">
		<div class="about">
			<div class="container">
				<div class="about-inner ">
					<div class="row">
						<div class="col-md-7">
							<div class="about-text">
								<div class="about-heading-wrap">
									<h2 class="about-heading mb_40 ptb_20">Akolad Creations
										<br>
										<span>Pro Solutions just for you</span>
									</h2>
								</div>
								Carlos Victor MOLIN, owner since 2015 of Akolad Creations, has been working in graphics for more than six years. Having a sense of aesthetics, creating at your fingertips and a special taste for the trends of the day, you'll be in good hands, from the beginning to the end, for a design process that you or your company deserve! publishing projects - brochures, leaflets, conceptual books corporate design projects - annual reports, press kits visual identity projects - pictograms, logos, standards guides advertising projects - posters, print ads, interactive advertising packaging projects - labels , packaging, displays multimedia projects - websites, interactive presentations, mobile web applications Visual communication solutions for a perfect image.
								</p>
								<button class="custom-btn custom-btns mtb_20" type="button">
									<span>View Portfolio</span>
								</button>
							</div>
						</div>
						<div class="col-md-5">
							<figure>
								<img src="images/about-img.jpg" alt="#"> </figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>