<section id="a-propos" class="content-section noselect">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<br>
				<br>
				<h2  class="title text-center">Mission and History</h2>

				<p>Love & Hope Organization was founded in 2003 by two women, Josie Antoine, President and Lovely Paulemon, Vice President.</p>

				<p>Our mission is "to provide a loving, nurturing home and quality education for orphaned and needy children." Our vision is "to see children's lives change for the better." These values still hold true today and guide the strategic plan for Love & Hope Organization. </p>

				<p>During the summer of 2003, Josie shared her vision with Lovely for helping children in Croix-des-Bouquets, Haiti. She encouraged Josie to launch the project because she too wanted to serve the children in need in Haiti. They had a dream and the ideas but lacked the resources to implement the project.</p>

				<p>After much hard work and a few setbacks, they received help from a generous donor and were able to move forward to make their dream a reality.</p>

				<p>On December 25, 2009, the inauguration of the orphanage took place at Rue Stenio Vincent, Rue Shalom 3rd Street, 3rd house on the right in Croix-des-Bouquets, a commune in the West department of Haiti.</p>

				<p>Since then, much progress has been made. They have taken in and provided care for many children who were in need of a loving, healthy, nurturing school and made it possible for them to attend school.</p>

				<p>House of Love & Hope now serve 23 children in the orphanage. Each child has their own unique story of how they came to the orphanage. Some were abandoned or orphaned after the earthquake in 2010, some were brought in after their relatives could no longer care for them. Others are brought by the Office of Social Well Being.</p>

				<p>The organization will soon be implementing a new program that will teach young mothers how to provide for and sustain a healthy environment for their family. The program will also teach them the skills they need to reintegrate back into their community and be successful raising their child.</p>

				<p>As the vision of the organization continues to expand, the need for new support and donors grow as well. If you are interested in joining us in serving the children of Haiti through the Love & Hope Organization, please contact us.</p>
			</div>
		</div>
	</div>
</section>