<section id="contact" class="ptb_100">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb_50 col-md-offset-3 text-center">
				<div class="heading-part ">
					<h2 class="main_title mb_20">Contact us and get a quote</h2>
					<p>Leave us a message and we'll reply as soon as we can.</p>
				</div>
			</div>
		</div>
		<!-- contact  -->
		<div class="row">
			<div class="col-md-4 col-xs-12 contact">
				<div class="location mb_50">
					<h5 class="capitalize mb_30">Our office address</h5>
					<div class="address">
						<!-- Adresse de bureau -->
						<br> #2, Imp Mentor, rue Colette,
						<br> Rte de Frères, Pétion-Ville
					</div>
					<div class="call mt_20">
						<i class="fa fa-phone" aria-hidden="true"></i>+(509) 4353-1232, 4801-8178</div>
				</div>
				<div class="Career mb_50">

					<div class="email mt_20">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:akoladcreations@gmail.com" target="_top">akoladcreations@gmail.com</a>
					</div>
				</div>
				<div class="Hello mb_50">
					<div class="email mt_20">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:info@akoladcreations.com" target="_top">info@akoladcreations.com</a>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-xs-12 contact-form mb_50">
				<!-- Contact FORM -->
				<div id="contact_form">
					<form id="contact_form_netlify" method="post" action="/thank-you" netlify>
						<input required class="full-with-form " type="text" name="name" placeholder="Full Name" data-required="true" />
						<input required class="full-with-form  mt_30" type="email" name="email" placeholder="Your E-mail" data-required="true" />
						<input required class="full-with-form  mt_30" type="number" name="phone1" placeholder="Your Phone Number" maxlength="15" data-required="true"
						/>
						<input required class="full-with-form  mt_30" type="text" name="subject" placeholder="The Subject" data-required="true">
						<textarea required class="full-with-form  mt_30" name="message" placeholder="Your Message" data-required="true"></textarea>
						<button class="custom-btn custom-btns mt_60" type="submit" tar>
							<span>Send Message</span>
						</button>
					</form>
					<div id="contact_results" class="text-success"></div>
				</div>

				<!-- END Contact FORM -->
			</div>
		</div>
		<!-- map  -->
		<!-- <div class="row">
			<div class="col-xs-12 map">
				<div id="map"></div>
			</div>
		</div> -->
	</div>
</section>