<section id="contact" class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="text-center title">
					Contact us
					<hr>
					<small>Haiti</small><br>
					<small><small>
						Josie Antoine, Director & President <br>
						<a class="light" href="mailto:jantoine@loveandhopehaiti.org">
							<i class="fa fa-envelope"></i> jantoine@loveandhopehaiti.org
						</a> <br>

						<!-- <a href="tel:+50937349392">
							<i class="fa fa-phone"></i> (509) 3647 8199
						</a> -->
					</small>
					</small>
					<hr>
					<small>United States</small><br>
					<small><small>
						Lovely Paulemon, Vice-President <br>
						<a class="light" href="mailto:LPaulemon@loveandhopehaiti.org">
							<i class="fa fa-envelope"></i> LPaulemon@loveandhopehaiti.org
						</a> <br>

						<!-- <a href="tel:+50937349392">
							<i class="fa fa-phone"></i> (509) 3647 8199
						</a> -->
					</small></small><br>
					<small><small>
						Phara Vincent <br>
						<a class="light" href="mailto:pvincent@loveandhopehaiti.org">
							<i class="fa fa-envelope"></i> pvincent@loveandhopehaiti.org
						</a> <br>

						<!-- <a href="tel:+50937349392">
							<i class="fa fa-phone"></i> (509) 3647 8199
						</a> -->
					</small></small>
				</h2>
			</div>
		</div>
	</div>
</section>