<div class="footer bg-dark ptb_100">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="copyright-part mtb_10">&copy; 2018 {{site.name}}. All Rights Reserved</div>
				<p class="text-center">
						<a href="http://fb.com/{{site.facebook}}" target="_blank">
							<i class="fa fa-2x fa-facebook"></i>
						</a>
						<a href="https://twitter.com/{{site.twitter}}" target="_blank">
							<i class="fa fa-2x fa-twitter"></i>
						</a>
						<a href="https://instagram.com/{{site.instagram}}" target="_blank">
							<i class="fa fa-2x fa-instagram"></i>
						</a>

				</p>
			</div>
		</div>
	</div>
</div>
<!-- =====  FOOTER END  ===== -->
</div>
<!-- =====  WRAPPER END  ===== -->

<!-- =====  SCRIPT START  ===== -->
<script src="/assets/js/jquery.3.1.1.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/letters-type.js"></script>
<script src="/assets/js/menu.js"></script>
<script src="/assets/js/custom.js"></script>
<!-- <script src="/assets/js/circle-progress.js"></script> -->
<!-- <script src="/assets/js/circle-progress-examples.js"></script> -->
<script src="/assets/js/parallax.js"></script>
<script src="/assets/js/jquery.easeScroll.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- ====== Map ====== -->
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT3mI0RI16q19Oxv93gSxN0cF0wfxWN6w"></script> -->
<!-- <script src="/assets/js/map.js"></script> -->

<!-- <script src="/assets/js/vendor.js?{{ site.time }}"></script> -->
<script src="/assets/js/site.js?{{ site.time }}"></script>
<!-- =====  SCRIPT END  ===== -->
</body>

</html>