<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }} - {{ site.name }}</title>

    <!-- Favicon -->

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="La rencontre des acteurs de t&eacute;l&eacute;communications en Haiti le 17 mai &agrave; l&#039;h&ocirc;tel Royal Oasis.">
    <meta name="author" content="Jean Gérard Bousiquot">

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@ForumTelecomHT" />
    <meta name="twitter:creator" content="@jgbneatdesign"/>

    <meta property="fb:admins" content="jeangerarddev"/>
    <meta property="fb:app_id" content="112699365802983"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Forum Telecom Haiti"/>

    <link rel="canonical" href="{{ site.url }}"/>

    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:title" content="Forum Telecom Haiti - La rencontre des acteurs de t&eacute;l&eacute;communications en Haiti"/>
    <meta property="og:description" content="La rencontre des acteurs de t&eacute;l&eacute;communications en Haiti le 17 mai &agrave; l&#039;h&ocirc;tel Royal Oasis."/>
    <meta property="og:image" content="/assets/images/seo.jpg"/>

    <!-- Custom CSS -->
    <link href="/assets/css/vendor.css?{{ site.time }}" rel="stylesheet">
    <link href="/assets/css/app.css?{{ site.time }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->
    <!-- <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="forumTelecomHaiti">