<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<!-- =====  BASIC PAGE NEEDS  ===== -->
	<meta charset="utf-8">
	<title>{{ page.title }} - {{ site.name }}</title>
	<!-- =====  SEO MATE  ===== -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="distribution" content="global">
	<meta name="revisit-after" content="2 Days">
	<meta name="robots" content="ALL">
	<meta name="rating" content="8 YEARS">
	<meta name="Language" content="en-us">
	<meta name="GOOGLEBOT" content="NOARCHIVE">
	<!-- =====  MOBILE SPECIFICATION  ===== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<!-- ===== SEO ===== -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="La rencontre des acteurs de t&eacute;l&eacute;communications en Haiti le 17 mai &agrave; l&#039;h&ocirc;tel Royal Oasis.">
    <meta name="author" content="Jean Gérard Bousiquot">

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@ForumTelecomHT" />
    <meta name="twitter:creator" content="@jgbneatdesign"/>

    <meta property="fb:admins" content="jeangerarddev"/>
    <meta property="fb:app_id" content="112699365802983"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Forum Telecom Haiti"/>

    <link rel="canonical" href="{{ site.url }}"/>

    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:title" content="Forum Telecom Haiti - La rencontre des acteurs de t&eacute;l&eacute;communications en Haiti"/>
    <meta property="og:description" content="La rencontre des acteurs de t&eacute;l&eacute;communications en Haiti le 17 mai &agrave; l&#039;h&ocirc;tel Royal Oasis."/>
    <meta property="og:image" content="/assets/images/seo.jpg"/>

    <!-- Custom CSS -->
    <link href="/assets/css/vendor.css?{{ site.time }}" rel="stylesheet">
    <link href="/assets/css/app.css?{{ site.time }}" rel="stylesheet">
	<!-- =====  CSS  ===== -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/color/style1.css" id="colors">
	<link rel="stylesheet" type="text/css" href="css/animation.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
	<!-- ===== favicons ==== -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/manifest.json">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/favicons/favicon.ico">
	<meta name="msapplication-config" content="/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body id="home">