<div class="banner bg-color pt_80">
	<div class="banner_bg">
		<img src="images/banner.jpg" alt="Len.or"> </div>
	<div class="banner-detail">
		<div class="cd-intro">
			<h1 class="cd-headline letters type"> Des Specialistes en </span>
				<span class="cd-words-wrapper waiting">
					<b class="is-visible">Design.</b>
					<b>Codes.</b>
				</span>
			</h1>
			<p class="mt_20 light">Une Agence de Communication au gout du jours
				<br>
			</p>
			<button class="custom-btn custom-btns light mt_20" type="button">
				<span>Learn More</span>
			</button>
		</div>
	</div>
</div>