<div class="banner bg-color pt_80">
	<div class="banner_bg">
		<img src="/assets/images/banner.jpg" alt="Len.or"> </div>
	<div class="banner-detail">
		<div class="cd-intro">
			<h1 class="cd-headline letters type"> Experts in </span>
				<span class="cd-words-wrapper waiting">
					<b class="is-visible">Graphic Design.</b>
					<b>Illustration.</b>
					<b>Photography.</b>
					<b>Printing.</b>
					<b>Social Media.</b>
					<b>Web Design & Development.</b>
				</span>
			</h1>
			<!-- <p class="mt_20 light">
				Akolad Creations is a creative communication agency. <br>
				Our passionate team develops tailor-made services to provide efficient <br>
				and simple solutions that perfectly meet your requirements! <br>
				Boost your image and increase your revenue! <br>
			</p> -->
			<a href="#about" class="custom-btn custom-btns light mt_20" type="button">
				<span>Learn More</span>
			</a>
		</div>
	</div>
</div>