<section id="orphanage" class="content-section noselect">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<br>
				<br>
				<h2  class="title text-center">Orphanage</h2>

				<p>There are many ways to help Love and Hope Organization serve the children of Haiti:</p>

				<h3>Donate</h3>
				<p>Beyond child sponsorship, donations toward ongoing staff and equipment needs at the House of Love and Hope are appreciated. The organization is currently raising funds to complete the construction of the second floor at the organization, purchase a van to transport the children to school and church (to replace the van that was lost in a fire in 2015) and donations towards water and energy projects.</p>
				<h3>Projects</h3>
				<p>Families, church and civic groups are welcome to "adopt" project that would benefit the organization. The House of Love and Hope currently is adding a second floor to the orphanage to be able to separate the boys from girls while sleeping. Many projects within that addition is needed including roof (sponsored), windows (sponsored), plumbing, electrical, concrete finishing, painting, new furniture of living room, furniture of library, books in English, French and Kreyol for library and new bedding and pillows.</p>
				<h3>Serve</h3>
				<p>The House of Love and Hope receives volunteer teams to complete work projects as well as plan fun and educational activities with the children. Please contact Josie if you had a group that would like to visit us!</p>
			</div>
		</div>
	</div>
</section>