<section id="orphanage" class="content-section noselect">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<br>
				<br>
				<h2  class="title text-center">Orphanage</h2>

				<p>The orphanage of Love & Hope Organization is called the House of Love & Hope. It is located in Croxi-des-Bouquets, Haiti and cares for 23 children.</p>

				<p><img src="/assets/images/map.png"></p>
				<br>
				<p>Children living at the House of Love & Hope may be sponsored for daily living costs including food, clean water, medical care, transportation and education through our Sponsor A Child page through partnership with US based non-profit Hope of Haiti.</p>
			</div>
		</div>
	</div>
</section>