<section id="portfolio" class="ptb_100">
	<div class="container text-center">
		<div class="heading-part ">
			<h2 class="main_title mb_20">Notre Portfolio</h2>
		</div>
		<div class="tab-bar mb_30">
			<ul class="portfolio-filter nav navbar-nav">
				<li class="active">
					<a data-filter="*">Tout</a>
				</li>
				<li>
					<a data-filter=".identité visuelle">Identité visuelle</a>
				</li>
				<li>
					<a data-filter=".site Web">Site Web</a>
				</li>
				<li>
					<a data-filter=".impression">Impression</a>
				</li>
				<li>
					<a data-filter=".photographie">Photographie</a>
				</li>
			</ul>
		</div>
		<div class="grid">
			<div class="isotope three-col-work ">
				<div class="grid-item listing-effect illustration webdesign">
					<a href="/assets/images/pf1.jpg" title="Portfolio Title -1">
						<img src="/assets/images/pf1.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -1</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect VectorDesign Photography">
					<a href="/assets/images/pf2.jpg" title="Portfolio Title -2">
						<img src="/assets/images/pf2.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Cafe Saporem</h3>
							<div class="meta-title">Identite visuelle</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect illustration webdesign">
					<a href="/assets/images/pf3.jpg" title="Portfolio Title -3">
						<img src="/assets/images/pf3.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -3</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect VectorDesign">
					<a href="/assets/images/pf4.jpg" title="Portfolio Title -4">
						<img src="/assets/images/pf4.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -4</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect webdesign VectorDesign Photography">
					<a href="/assets/images/pf5.jpg" title="Portfolio Title -5">
						<img src="/assets/images/pf5.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Brochure Transversal</h3>
							<div class="meta-title">Impression</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect illustration VectorDesign">
					<a href="/assets/images/pf6.jpg" title="Portfolio Title -6">
						<img src="/assets/images/pf6.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -6</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect VectorDesign">
					<a href="/assets/images/pf7.jpg" title="Portfolio Title -7">
						<img src="/assets/images/pf7.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Logo Coeur & Plus</h3>
							<div class="meta-title">Identite visuelle - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect webdesign illustration Photography">
					<a href="/assets/images/pf8.jpg" title="Portfolio Title -8">
						<img src="/assets/images/pf8.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -8</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect webdesign">
					<a href="/assets/images/pf9.jpg" title="Portfolio Title -9">
						<img src="/assets/images/pf9.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -9</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
			</div>
			<button class="custom-btn custom-btns mt_60" type="button">
				<span>View More Portfolio</span>
			</button>
		</div>
	</div>
</section>