<section id="portfolio" class="ptb_100">
	<div class="container text-center">
		<div class="heading-part ">
			<h2 class="main_title mb_20">Our Portfolio</h2>
		</div>
		<div class="tab-bar mb_30">
			<ul class="portfolio-filter nav navbar-nav">
				<li class="active">
					<a data-filter="*">All</a>
				</li>
				<li>
					<a data-filter=".visual">Visual Identity</a>
				</li>
				<li>
					<a data-filter=".logo">Logo</a>
				</li>
				<!-- <li>
					<a data-filter=".web">Web Design & Development</a>
				</li> -->
				<!-- <li>
					<a data-filter=".photography">Photography</a>
				</li> -->
				<li>
					<a data-filter=".printing">Printing</a>
				</li>
			</ul>
		</div>
		<div class="grid">
			<div class="isotope three-col-work ">
				<div class="grid-item listing-effect visual web">
					<a href="/assets/images/pf1.jpg" title="Portfolio Title -1">
						<img src="/assets/images/pf1.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -1</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual photography">
					<a href="/assets/images/pf2.jpg" title="Portfolio Title -2">
						<img src="/assets/images/pf2.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Cafe Saporem</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual web">
					<a href="/assets/images/pf3.jpg" title="Portfolio Title -3">
						<img src="/assets/images/pf3.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -3</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual photography">
					<a href="/assets/images/pf4.jpg" title="Portfolio Title -4">
						<img src="/assets/images/pf4.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -4</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect web visual photography">
					<a href="/assets/images/pf5.jpg" title="Portfolio Title -5">
						<img src="/assets/images/pf5.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Brochure Transversal</h3>
							<div class="meta-title">Impression</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual printing">
					<a href="/assets/images/pf6.jpg" title="Portfolio Title -6">
						<img src="/assets/images/pf6.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -6</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/coeur.png" title="Coeur & Plus">
						<img src="/assets/images/logos/coeur.png" alt="Coeur & Plus">
						<div class="work-detail">
							<h3 class="project-title mb_10">Logo Coeur & Plus</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect web visual photography">
					<a href="/assets/images/pf8.jpg" title="Portfolio Title -8">
						<img src="/assets/images/pf8.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -8</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect web">
					<a href="/assets/images/pf9.jpg" title="Portfolio Title -9">
						<img src="/assets/images/pf9.jpg" alt="Len.or">
						<div class="work-detail">
							<h3 class="project-title mb_10">Portfolio Title -9</h3>
							<div class="meta-title">Photography</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/asjdi.png" title="Association de Soutien aux Jeunes et en Développement Intégré">
						<img src="/assets/images/logos/asjdi.png" alt="Association de Soutien aux Jeunes et en Développement Intégré">
						<div class="work-detail">
							<h3 class="project-title mb_10">Association de Soutien aux Jeunes et en Développement Intégrés</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/bae.png" title="Team Bae">
						<img src="/assets/images/logos/bae.png" alt="Team Bae">
						<div class="work-detail">
							<h3 class="project-title mb_10">Team Bae</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/billy.png" title="Billy Broker">
						<img src="/assets/images/logos/billy.png" alt="Billy Broker">
						<div class="work-detail">
							<h3 class="project-title mb_10">Billy Broker</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/dinapa.png" title="DINAPA Construction">
						<img src="/assets/images/logos/dinapa.png" alt="DINAPA Construction">
						<div class="work-detail">
							<h3 class="project-title mb_10">DINAPA Construction</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/djoes.png" title="Djoe's Multi-Services">
						<img src="/assets/images/logos/djoes.png" alt="Djoe's Multi-Services">
						<div class="work-detail">
							<h3 class="project-title mb_10">Djoe's Multi-Services</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/esintex.png" title="esintext finance consulting">
						<img src="/assets/images/logos/esintex.png" alt="esintext finance consulting">
						<div class="work-detail">
							<h3 class="project-title mb_10">esintext FINANCE CONSULTING</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/gazette.png" title="Gazette Haiti News">
						<img src="/assets/images/logos/gazette.png" alt="Gazette Haiti News">
						<div class="work-detail">
							<h3 class="project-title mb_10">Gazette Haiti News</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/grafix.png" title="Pyramide Grafix">
						<img src="/assets/images/logos/grafix.png" alt="Pyramide Grafix">
						<div class="work-detail">
							<h3 class="project-title mb_10">Pyramide Grafix</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/hilton.png" title="Hilton Interiors">
						<img src="/assets/images/logos/hilton.png" alt="Hilton Interiors">
						<div class="work-detail">
							<h3 class="project-title mb_10">Hilton Interiors</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/jeunes.png" title="Jeunes Connectés">
						<img src="/assets/images/logos/jeunes.png" alt="Jeunes Connectés">
						<div class="work-detail">
							<h3 class="project-title mb_10">Jeunes Connectés</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/koze.png" title="Koze Kretyen">
						<img src="/assets/images/logos/koze.png" alt="Koze Kretyen">
						<div class="work-detail">
							<h3 class="project-title mb_10">Koze Kretyen</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/lovely.png" title="Lovely Beauty Salon">
						<img src="/assets/images/logos/lovely.png" alt="Lovely Beauty Salon">
						<div class="work-detail">
							<h3 class="project-title mb_10">Lovely Beauty Salon</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/magic.png" title="Magic Tech">
						<img src="/assets/images/logos/magic.png" alt="Magic Tech">
						<div class="work-detail">
							<h3 class="project-title mb_10">Magic Tech</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/objektif.png" title="Ojektif Studios">
						<img src="/assets/images/logos/objektif.png" alt="Ojektif Studios">
						<div class="work-detail">
							<h3 class="project-title mb_10">Ojektif Studios</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/openit.png" title="OpenIT SYSTEM">
						<img src="/assets/images/logos/openit.png" alt="OpenIT SYSTEM">
						<div class="work-detail">
							<h3 class="project-title mb_10">OpenIT SYSTEM</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/orange.png" title="Orange Box Multimedia">
						<img src="/assets/images/logos/orange.png" alt="Orange Box Multimedia">
						<div class="work-detail">
							<h3 class="project-title mb_10">Orange Box Multimedia</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/piment.png" title="Piment Lakay">
						<img src="/assets/images/logos/piment.png" alt="Piment Lakay">
						<div class="work-detail">
							<h3 class="project-title mb_10">Piment Lakay</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/rosie.png" title="Rosie Flowers & Decor">
						<img src="/assets/images/logos/rosie.png" alt="Rosie Flowers & Decor">
						<div class="work-detail">
							<h3 class="project-title mb_10">Rosie Flowers & Decor</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/saporem.png" title="Café Saporem">
						<img src="/assets/images/logos/saporem.png" alt="Café Saporem">
						<div class="work-detail">
							<h3 class="project-title mb_10">Café Saporem</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual logo">
					<a href="/assets/images/logos/shacda.png" title="Société Haitienne de Conseils en Développement Agricole">
						<img src="/assets/images/logos/shacda.png" alt="Société Haitienne de Conseils en Développement Agricole">
						<div class="work-detail">
							<h3 class="project-title mb_10">Société Haitienne de Conseils en Développement Agricole</h3>
							<div class="meta-title">Visual Identity - Logo</div>
						</div>
					</a>
				</div>
			</div>
			<button class="custom-btn custom-btns mt_60" type="button">
				<span>View More Portfolio</span>
			</button>
		</div>
	</div>
</section>