<section id="orphanage" class="content-section noselect">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<br>
				<br>
				<h2  class="title text-center">School</h2>

				<p>Love and Hope Organization has plans to build a school in the future. They have land purchased for the project and are collecting support to make it a reality!</p>

				<p><img class="img-responsive" src="/assets/images/school1.jpg"></p>
				<br>
				<p>Children living at the House of Love & Hope may be sponsored for daily living costs including food, clean water, medical care, transportation and education through our Sponsor A Child page through partnership with US based non-profit Hope of Haiti.</p>
				<p><img class="img-responsive" src="/assets/images/school1.jpg"></p>
			</div>
		</div>
	</div>
</section>