<section id="service" class="pt_100 pb_50">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="heading-part ">
						<h2 class="main_title mb_20">What do we do?</h2>
						<p class="mb_50">
								Akolad Creations offers graphic design, illustration, photography, printing, social media, marketing,
								web design & devlopment services of the highest quality and is based in Haiti.
						</p>
					</div>
				</div>
			</div>
			<!-- Services  -->
			<div class="row">
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<a href="/services#graphic-service">
							<div class="icon-top">
								<i class="fa fa-desktop"></i>
							</div>
							<h4 class="mtb_20">Graphic Design</h4>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<a href="/services#photography-service">
							<div class="icon-top">
								<i class="fa fa-camera-retro"></i>
							</div>
							<h4 class="mtb_20">Photography</h4>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<a href="/services#illustration-service">
							<div class="icon-top">
								<i class="fa fa-pencil-square-o"></i>
							</div>
							<h4 class="mtb_20">Illustration</h4>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<a href="/services#web-service">
							<div class="icon-top">
								<i class="fa fa-code"></i>
							</div>
							<h4 class="mtb_20">Web Design & Development</h4>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<a href="/services#social-service">
							<div class="icon-top">
								<i class="fa fa-users"></i>
							</div>
							<h4 class="mtb_20">Social Media</h4>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<a href="/services#printing-service">
							<div class="icon-top">
								<i class="fa fa-print"></i>
							</div>
							<h4 class="mtb_20">Printing</h4>
						</a>
					</div>
				</div>
			</div>
			<!-- Services -->
		</div>
	</section>