<section id="service" class="pt_100 pb_50">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="heading-part ">
						<h2 class="main_title mb_20">Qu'est-ce qu'on fait?</h2>
						<p class="mb_50">Akolad Creations offre des services de conception graphique, de conception de sites Web, de la photographie , de la
							plus haute qualité et est basée en Haïti, Photographie etc.</p>
					</div>
				</div>
			</div>
			<!-- Services  -->
			<div class="row">
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="icon ion-ios-monitor-outline"></i>
						</div>
						<h4 class="mtb_20">GRAPHISME</h4>
						<p>Aliquam dapibus est sit amet interdum. Quisque aliquet mi a tellus auctor imperdiet.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="icon ion-ios-camera-outline"></i>
						</div>
						<h4 class="mtb_20">PHOTOGRAPHIE</h4>
						<p>Aliquam placerat est sit amet interdum. Quisque aliquet mi a tellus auctor imperdiet.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="ion ion-ios-compose-outline"></i>
						</div>
						<h4 class="mtb_20">IMPRESSION</h4>
						<p>Je veillerai à ce que votre marque se démarque de la foule avec des solutions de conception visuelle haut de gamme.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="icon ion-ios-gear-outline"></i>
						</div>
						<h4 class="mtb_20">SITE WEB</h4>
						<p>Racontez l'histoire de votre marque tout en maximisant les prospects, avec un site Web personnalisé qui dépassera vos
							concurrents!</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="icon ion-ios-people-outline"></i>
						</div>
						<h4 class="mtb_20">SOCIAL MEDIA</h4>
						<p>Aliquam placerat est sit amet interdum. Quisque aliquet mi a tellus auctor imperdiet.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="ion ion-ios-pulse"></i>
						</div>
						<h4 class="mtb_20">Marketing</h4>
						<p>Tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p>
					</div>
				</div>
			</div>
			<!-- Services -->
		</div>
	</section>