<section id="service" class="pt_100 pb_50">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="heading-part ">
						<h2 class="main_title mb_20">What do we do?</h2>
						<p class="mb_50">
								Akolad Creations offers graphic design, illustration, photography, printing social media,
								web devlopment services of the highest quality and is based in Haiti.
						</p>
					</div>
				</div>
			</div>
			<!-- Services  -->
			<div class="row">
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="icon ion-ios-monitor-outline"></i>
						</div>
						<h4 class="mtb_20">Graphic Design</h4>
						<!-- <p>Aliquam dapibus est sit amet interdum. Quisque aliquet mi a tellus auctor imperdiet.</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="icon ion-ios-camera-outline"></i>
						</div>
						<h4 class="mtb_20">Photography</h4>
						<!-- <p>Aliquam placerat est sit amet interdum. Quisque aliquet mi a tellus auctor imperdiet.</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="ion ion-ios-compose-outline"></i>
						</div>
						<h4 class="mtb_20">Illustration</h4>
						<!-- <p>Je veillerai à ce que votre marque se démarque de la foule avec des solutions de conception visuelle haut de gamme.</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="fa fa-code"></i>
						</div>
						<h4 class="mtb_20">Web Development</h4>
						<!-- <p>Racontez l'histoire de votre marque tout en maximisant les prospects, avec un site Web personnalisé qui dépassera vos
							concurrents!</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="icon ion-ios-people-outline"></i>
						</div>
						<h4 class="mtb_20">Social Media</h4>
						<!-- <p>Aliquam placerat est sit amet interdum. Quisque aliquet mi a tellus auctor imperdiet.</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb_50">
					<div class="service">
						<div class="icon-top">
							<i class="fa fa-print"></i>
						</div>
						<h4 class="mtb_20">Printing</h4>
						<!-- <p>Tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p> -->
					</div>
				</div>
			</div>
			<!-- Services -->
		</div>
	</section>