<section id="inscription" class="content-section noselect bg-cover" ng-controller="RegistrationController">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div>
					<h2 class="text-center white">S'inscrire au Forum <br>
						<small><small>
							<!-- <span>{{ registered }}</span><br> -->
							Uitilisez la forme pour vous inscrire.
						</small></small>
					</h2>

					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSevhIJqYyup9FAAS7Zq0f523Ld-KKyaKtq9Io9Kpdzx1XFvQQ/viewform?embedded=true&hl=fr" width="100%" height="1545px" frameborder="0" marginheight="0" marginwidth="0">Chargement...</iframe>
				</div>
			</div>
		</div>
	</div>
</section>