<section id="skills" class=" ptb_50 bg-color">
	<div class="container">
		<!-- Progress Bar  -->
		<div class="row">
			<!-- <div class="col-md-2 col-sm-4 skill mtb_50">
				<div class="first circle">
					<strong></strong>
					<span>UX Design</span>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 skill mtb_50">
				<div class="second circle">
					<strong></strong>
					<span>HTML5 + CSS3</span>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 skill mtb_50">
				<div class="third circle">
					<strong></strong>
					<span>JQUERY + JAVASCRIPT</span>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 skill mtb_50">
				<div class="fourth circle">
					<strong></strong>
					<span>BOOTSTRAP</span>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 skill mtb_50">
				<div class="fifth circle">
					<strong></strong>
					<span>LARAVEL</span>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 skill mtb_50">
				<div class="sixth circle">
					<strong></strong>
					<span>PHOTOSHOP</span>
				</div>
			</div> -->
			<div class="col-sm-2 text-center">
				<img src="/assets/images/photoshop.png" alt="Photoshop">
				<br>
				<strong>Photoshop</strong>
			</div>
			<div class="col-sm-2 text-center">
				<img src="/assets/images/adobe-illustrator.png" alt="Adobe Illustrator">
				<br>
				<strong>Adobe Illustrator</strong>
			</div>
			<div class="col-sm-2 text-center">
				<img src="/assets/images/adobe-indesign.png" alt="Adobe InDesign">
				<br>
				<strong>Adobe InDesign</strong>
			</div>
			<div class="col-sm-2 text-center">
				<img src="/assets/images/adobe-acrobat.png" alt="Adobe Acrobat">
				<br>
				<strong>Adobe Acrobat</strong>
			</div>
		</div>
	</div>
</section>