<section id="skills" class=" ptb_50 bg-color">
	<div class="container">
		<!-- Progress Bar  -->
		<div class="row">
			<div class="skils-circle">
				<div class="col-md-2 col-sm-4 skill mtb_50">
					<div class="first circle">
						<strong></strong>
						<span>UX Design</span>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 skill mtb_50">
					<div class="second circle">
						<strong></strong>
						<span>HTML5 + CSS3</span>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 skill mtb_50">
					<div class="third circle">
						<strong></strong>
						<span>JQUERY + JAVASCRIPT</span>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 skill mtb_50">
					<div class="fourth circle">
						<strong></strong>
						<span>BOOTSTRAP</span>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 skill mtb_50">
					<div class="fifth circle">
						<strong></strong>
						<span>LARAVEL</span>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 skill mtb_50">
					<div class="sixth circle">
						<strong></strong>
						<span>PHOTOSHOP</span>
					</div>
				</div>
			</div>
		</div>
		<!--Progress Bar -->
	</div>
</section>