<section id="skills" class=" ptb_100 bg-color">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="light mtb_20 text-center text-uppercase">Graphic Design</h3>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
						<div class="row">
							<div class="col-sm-3 col-xs-3 text-center tech-logo">
								<img src="/assets/images/techicons/photoshop.png" title="Adobe Photoshop" alt="Photoshop">
							</div>
							<div class="col-sm-3 col-xs-3 text-center tech-logo">
								<img src="/assets/images/techicons/illustrator.png" title="Adobe Illustrator" alt="Adobe Illustrator">
							</div>
							<div class="col-sm-3 col-xs-3 text-center tech-logo">
								<img src="/assets/images/techicons/indesign.png" title="Adobe InDesign" alt="Adobe InDesign">
							</div>
							<div class="col-sm-3 col-xs-3 text-center tech-logo">
								<img src="/assets/images/techicons/reader.png" title="Adobe Acrobat" alt="Adobe Acrobat">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<br>
				<hr>
			</div>
			<div class="col-sm-6 col-sm-offset-3">
				<h3 class="light mtb_20 text-center text-uppercase">Web & Mobile Development</h3>
				<div class="row">
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/html5.png" title="HTML5" alt="HTML5">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/css3.png" title="CSS3" alt="CSS3">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/php.png" title="PHP" alt="PHP">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/js.png" title="JavaScript" alt="JavaScript">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/react.png" title="React" alt="React">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/vue.png" title="Vue" alt="Vue">
					</div>
<!-- 					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/java.png" title="Java" alt="Java">
					</div> -->
<!-- 					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/node.png" title="Node" alt="Node">
					</div> -->
				</div>
				<br>
				<div class="row">
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/laravel.png" title="Laravel" alt="Laravel">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/wordpress.png" title="WordPress" alt="WordPress">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/bootstrap.png" title="Bootstrap" alt="Bootstrap">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/android.png" title="Android" alt="Android">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/angular.png" title="Angular" alt="Angular">
					</div>
					<div class="col-sm-2 col-xs-2 text-center tech-logo">
							<img src="/assets/images/techicons/ionic.png" title="Ionic" alt="Ionic">
					</div>
				</div>
			</div>

		</div>
	</div>
</section>