<section id="team" class="bg-gray text-center ptb_100">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="heading-part ">
					<h2 class="main_title mb_20">The Team</h2>
					<p class="mb_50">Our staff is composed of many young experts, <br>
						who work in the fields of IT, Design, Finance and more.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!--Team Carousel -->
			<div class="team_grid">
				<div class="team3col  owl-carousel">
					<div class="item team-detail">
						<div class="team-item-img">
							<img src="/assets/images/team/carl.jpg">
						</div>
						<div class="team-designation mt_20">Executive Director</div>
						<h3 class="team-title  mt_10 mb_20">Carlos Victor Molin</h3>
						<ul class="social mt_20">
							<li>
								<a href="https://web.facebook.com/carlosvictor.molin" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://dribbble.com/vmolin17" target="_blank">
									<i class="fa fa-dribbble"></i>
								</a>
							</li>
							<li>
								<a href="https://www.pinterest.com/vmolin17/" target="_blank">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a href="https://www.behance.net/vmolin17" target="_blank">
									<i class="fa fa-behance"></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/vmolin17/" target="_blank">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/carlosvictormolin/" target="_blank">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="item team-detail">
						<div class="team-item-img">
							<img src="/assets/images/team/jgb.jpg">
						</div>
						<div class="team-designation mt_20">Web/Mobile Developer</div>
						<h3 class="team-title  mt_10 mb_20">Jean Gérard Bousiquot</h3>
						<ul class="social mt_20">
							<li>
								<a href="https://github.com/jgbneatdesign" target="_blank">
									<i class="fa fa-github"></i>
								</a>
							</li>
							<li>
								<a href="https://twitter.com/jgb_solutions" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
							<li>
								<a href="https://plus.google.com/+JeanG%C3%A9rardBousiquot" target="_blank">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/jean-g%C3%A9rard-bousiquot-85a83689/" target="_blank">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/jeangerarddev" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://instagram.com/jeangerarddev" target="_blank">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="item team-detail">
						<div class="team-item-img">
							<img src="/assets/images/team/tm4.jpg">
						</div>
						<div class="team-designation mt_20">Directeur Financier</div>
						<h3 class="team-title  mt_10 mb_20">Evenson Athanase </h3>
						<ul class="social mt_20">
							<li>
								<a href="https://www.facebook.com/" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://www.twitter.com/" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="https://www.dribbble.com/" target="_blank">
									<i class="fa fa-dribbble"></i>
								</a>
							</li>
							<li>
								<a href="https://www.pinterest.com/" target="_blank">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a href="https://www.behance.net/" target="_blank">
									<i class="fa fa-behance"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--End Team Carousel -->
	</div>
</section>