<section id="client" class="text-center parallax" data-source-url="/assets/images/parallax02.jpg">
	<div class="container">
		<div class="type-01 ptb_100 ">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="client owl-carousel">
						<div class="item client-detail">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<!-- <h2 class="main_title light mtb_30">simply... </h2> -->
							<p>
								I highly recommend Akolad Creations for the quality of its service and especially the creativity
								and flexibity of its experts, focused on customer satisfaction. The Akolad Creations team is
								always available and commit to the customer&#39;s needs while being very professional.
								In creative communication service, my choice will always be Akolad Creation because the
								satisfaction is guaranteed. Besides, I like being informed about the progress of my project.
								I applaud the whole team!
							</p>
							<div class="client-title  mt_40">
								<strong class="light">Auguste Evens</strong>
								<!-- <div class="client-designation">php Developer</div> -->
							</div>
						</div>
						<div class="item client-detail">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<!-- <h2 class="main_title light mtb_30">simply... </h2> -->
							<p>
								In the field of creative communication, Akolad Creations is a safe bet on the Haitian market. Professionalism, quality, timeliness and response to specific needs in graphic design, web design & development, social media marketing etc. These are services performed with great care by Akolad Creations. I strongly recommend to Haitian companies like SHACDA to opt for Akolad Creations, for your design work and graphics and others.
							</p>
							<p>
								Believe me, you will have technical feats.
							</p>
							<div class="client-title  mt_40">
								<strong class="light">Allain MONCOEUR - Executive Director SHACDA</strong>
								<!-- <div class="client-designation">php Developer</div> -->
							</div>
						</div>
						<div class="item client-detail">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<!-- <h2 class="main_title light mtb_30">simply... </h2> -->
							<p>
								For any works that related to graphic design, illustration, web design & devlopment and more, to creative communication in general I encourage you to trust this young and hardworking team. They provide excellent work. Akolad Creations is one of my top choices for creative communication.
							</p>
							<div class="client-title  mt_40">
								<strong class="light">Max Larson Henry - CEO Transversal</strong>
								<!-- <div class="client-designation">php Developer</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>