<section id="client" class="text-center parallax" data-source-url="images/Parallax02.jpg">
	<div class="container">
		<div class="type-01 ptb_100 ">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="client owl-carousel">
						<div class="item client-detail">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<!-- <h2 class="main_title light mtb_30">simply... </h2> -->
							<p>
								I highly recommend Akolad Creations for the quality of its service and especially the creativity
								and flexibity of its experts, focused on customer satisfaction. The Akolad Creations team is
								always available and commit to the customer&#39;s needs while being very professional.
								In creative communication service, my choice will always be Akolad Creation because the
								satisfaction is guaranteed. Besides, I like being informed about the progress of my project.
								I applaud the whole team!
							</p>
							<div class="client-title  mt_40">
								<strong class="light">Auguste Evens</strong> -
								<!-- <div class="client-designation">php Developer</div> -->
							</div>
						</div>
						<!-- <div class="item client-detail">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<h2 class="main_title light mtb_30">simply text of the and typesetting industry Lorem Ipsum has been</h2>
							<p>Ddolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset Rem ipsum
								dolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset oportere
								patrioque ne nec Duo cu partem omnesque..</p>
							<div class="client-title  mt_40">
								<strong class="light">Mr.joseph Lui</strong> -
								<div class="client-designation">Developer</div>
							</div>
						</div>
						<div class="item client-detail">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<h2 class="main_title light mtb_30">dummy text of the printing and typesetting industry has been</h2>
							<p>Sorem ipsum dolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset
								Rem ipsum dolor sit amet, sea in odio erat, volumus oporteat his at, mei ocurreret vulputate ex. Clita prodesset
								oportere patrioque ne nec Duo cu partem omnesque..</p>
							<div class="client-title mt_40">
								<strong class="light">Lui joseph </strong>-
								<div class="client-designation">WordPress</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>