<section class="text-center parallax" data-source-url="/assets/images/parallax01.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 ptb_100">
				<div class="story_detail">
					<h2 class="main_title light mb_20">Do you want to work with us
						<span class="red">?</span>
					</h2>
					<p>
						We	are	an	enthusiastic	creative	communication	agency	to	bring	your	visual
						communication to life. What	we	do	is	simple.	we	creatively	translate	your
						imaginations into something original and wonderful.
					</p>
				</div>
				<a href="#contact" class="custom-btn custom-btns light mt_20" type="button">
					<span>Let's work together!</span>
				</a>
			</div>
		</div>
	</div>
</section>