<section id="work" class="ptb_100">
	<div class="container text-center">
		<div class="heading-part ">
			<h2 class="main_title mb_20">Our Work</h2>
		</div>
		<div class="tab-bar mb_30">
			<ul class="portfolio-filter nav navbar-nav">
				<li class="active">
					<a data-filter="*">All</a>
				</li>
				<li>
					<a data-filter=".visual">Branding</a>
				</li>
				<li>
					<a data-filter=".logo">Logo</a>
				</li>
			<!-- 	<li>
					<a data-filter=".packaging">Packaging</a>
				</li> -->
				<li>
					<a data-filter=".flyers">Design</a>
				</li>
				<li>
					<a data-filter=".web">Web & Mobile</a>
				</li>
				<!-- <li>
					<a data-filter=".photography">Photography</a>
				</li> -->
			<!-- 	<li>
					<a data-filter=".printing">Printing</a>
				</li> -->
			</ul>
		</div>
		<div class="grid">
			<div class="isotope three-col-work">
				<!-- <div class="grid-item listing-effect packaging">
					<a href="/assets/images/visual/pf2.jpg">
						<img src="/assets/images/visual/pf2.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Cafe Saporem Cup</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/coeur.jpg" title="Coeur & Plus">
						<img src="/assets/images/logos/coeur.jpg" alt="Coeur & Plus">
						<div class="work-detail">
							<h3 class="project-title mb_10">Coeur & Plus</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/hilton.png">
						<img src="/assets/images/logos/hilton.png">
						<div class="work-detail">
							<h3 class="project-title mb_10">Hilton Interiors</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual">
					<a href="/assets/images/visual/Empire-Hotel_Business-Card.jpg">
						<img src="/assets/images/visual/Empire-Hotel_Business-Card.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel Business Card</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>
				<!-- <div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/billy.png" title="Billy Broker">
						<img src="/assets/images/logos/billy.png" alt="Billy Broker">
						<div class="work-detail">
							<h3 class="project-title mb_10">Billy Broker</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect visual">
					<a href="/assets/images/visual/Empire-Hotel_Letter-Head.jpg">
						<img src="/assets/images/visual/Empire-Hotel_Letter-Head.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel Letter Head</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual">
					<a href="/assets/images/visual/Maillot.jpg">
						<img src="/assets/images/visual/Maillot.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel T-Shirt</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/dinapa.png" title="DINAPA Construction">
						<img src="/assets/images/logos/dinapa.png" alt="DINAPA Construction">
						<div class="work-detail">
							<h3 class="project-title mb_10">Dinapa Construction</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual">
					<a href="/assets/images/visual/Empire-Hotel_Letter.jpg">
						<img src="/assets/images/visual/Empire-Hotel_Letter.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel Letter</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/gazette.png" title="Gazette Haiti News">
						<img src="/assets/images/logos/gazette.png" alt="Gazette Haiti News">
						<div class="work-detail">
							<h3 class="project-title mb_10">Gazette Haiti News</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual">
					<a href="/assets/images/visual/Empire-Hotel_Stationary.jpg">
						<img src="/assets/images/visual/Empire-Hotel_Stationary.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel Stationary</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/Logo_Empire Hotel-01.jpg">
						<img src="/assets/images/logos/Logo_Empire Hotel-01.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel Logo</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual">
					<a href="/assets/images/visual/flyer.jpg">
						<img src="/assets/images/visual/flyer.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel Flyer</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>
					<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/djoes.png" title="Djoe's Multi-Services">
						<img src="/assets/images/logos/djoes.png" alt="Djoe's Multi-Services">
						<div class="work-detail">
							<h3 class="project-title mb_10">Djoe's Multi-Services</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect visual">
					<a href="/assets/images/visual/id.jpg">
						<img src="/assets/images/visual/id.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel ID</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>

				<!-- <div class="grid-item listing-effect printing">
					<a href="/assets/images/printing/keychain.jpg">
						<img src="/assets/images/printing/keychain.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Keychain Akolad Creations</h3>
							<div class="meta-title">Printing</div>
						</div>
					</a>
				</div> -->

				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/esintex.png" title="esintext finance consulting">
						<img src="/assets/images/logos/esintex.png" alt="esintext finance consulting">
						<div class="work-detail">
							<h3 class="project-title mb_10">Esintext</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>

				<div class="grid-item listing-effect visual">
					<a href="/assets/images/visual/Mug_Elite-Hotel-copy-copy.jpg">
						<img src="/assets/images/visual/Mug_Elite-Hotel-copy-copy.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Empire Hotel Mug</h3>
							<div class="meta-title">Visual Identity</div>
						</div>
					</a>
				</div>

				<div class="grid-item listing-effect web">
					<a href="/assets/images/web/Mockup-Aps_2.jpg">
						<img src="/assets/images/web/Mockup-Aps_2.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">MP3 Pam Mockup</h3>
							<div class="meta-title">Mobile UI Design</div>
						</div>
					</a>
				</div>

				<div class="grid-item listing-effect web">
					<a href="/assets/images/web/Mockup-Aps.jpg">
						<img src="/assets/images/web/Mockup-Aps.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">MP3 Pam Mockup</h3>
							<div class="meta-title">Mobile UI Design</div>
						</div>
					</a>
				</div>
			<!-- 	<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/uts.jpg" title="UTS">
						<img src="/assets/images/logos/uts.jpg" alt="UTS">
						<div class="work-detail">
							<h3 class="project-title mb_10">UTS</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div> -->
			<!-- 	<div class="grid-item listing-effect printing">
					<a href="/assets/images/printing/t-shirt1.jpg" title="T-Shirt">
						<img src="/assets/images/printing/t-shirt1.jpg" alt="T-Shirt">
						<div class="work-detail">
							<h3 class="project-title mb_10">T-Shirt</h3>
							<div class="meta-title">Printing</div>
						</div>
					</a>
				</div> -->
			<!-- 	<div class="grid-item listing-effect printing">
					<a href="/assets/images/printing/t-shirt2.jpg" title="T-Shirt">
						<img src="/assets/images/printing/t-shirt2.jpg" alt="T-Shirt">
						<div class="work-detail">
							<h3 class="project-title mb_10">T-Shirt</h3>
							<div class="meta-title">Printing</div>
						</div>
					</a>
				</div> -->
			<!-- 	<div class="grid-item listing-effect printing">
					<a href="/assets/images/printing/t-shirt3.jpg title="T-Shirt">
						<img src="/assets/images/printing/t-shirt3.jpg" alt="T-Shirt">
						<div class="work-detail">
							<h3 class="project-title mb_10">T-Shirt</h3>
							<div class="meta-title">Printing</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/hilton.png" title="Hilton Interiors">
						<img src="/assets/images/logos/hilton.png" alt="Hilton Interiors">
						<div class="work-detail">
							<h3 class="project-title mb_10">Hilton Interiors</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<!-- <div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/jeunes.png" title="Jeunes Connectés">
						<img src="/assets/images/logos/jeunes.png" alt="Jeunes Connectés">
						<div class="work-detail">
							<h3 class="project-title mb_10">Jeunes Connectés</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div> -->
			<!-- 	<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/koze.jpg" title="Koze Kretyen">
						<img src="/assets/images/logos/koze.jpg" alt="Koze Kretyen">
						<div class="work-detail">
							<h3 class="project-title mb_10">Koze Kretyen</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/lovely.jpg" title="Lovely Beauty Salon">
						<img src="/assets/images/logos/lovely.jpg" alt="Lovely Beauty Salon">
						<div class="work-detail">
							<h3 class="project-title mb_10">Lovely Beauty Salon</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<!-- <div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/magic.png" title="Magic Tech">
						<img src="/assets/images/logos/magic.png" alt="Magic Tech">
						<div class="work-detail">
							<h3 class="project-title mb_10">Magic Tech</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/objektif.jpg" title="Ojektif Studios">
						<img src="/assets/images/logos/objektif.jpg" alt="Ojektif Studios">
						<div class="work-detail">
							<h3 class="project-title mb_10">Ojektif Studios</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
			<!-- 	<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/openit.png" title="OpenIT System">
						<img src="/assets/images/logos/openit.png" alt="OpenIT System">
						<div class="work-detail">
							<h3 class="project-title mb_10">OpenIT System</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/orange.png" title="Orange Box Multimedia">
						<img src="/assets/images/logos/orange.png" alt="Orange Box Multimedia">
						<div class="work-detail">
							<h3 class="project-title mb_10">Orange Box Multimedia</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/piment-lakay.jpg" title="Piment Lakay">
						<img src="/assets/images/logos/piment-lakay.jpg" alt="Piment Lakay">
						<div class="work-detail">
							<h3 class="project-title mb_10">Piment Lakay</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/floral.jpg" title="Floral">
						<img src="/assets/images/logos/floral.jpg" alt="Floral">
						<div class="work-detail">
							<h3 class="project-title mb_10">Floral</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
			<!-- 	<div class="grid-item listing-effect packaging">
					<a href="/assets/images/packaging/floral-post-1.jpg" title="Floral">
						<img src="/assets/images/packaging/floral-post-1.jpg" alt="Floral">
						<div class="work-detail">
							<h3 class="project-title mb_10">Floral</h3>
							<div class="meta-title">Packaging</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/rosie.jpg" title="Rosie Flowers & Decor">
						<img src="/assets/images/logos/rosie.jpg" alt="Rosie Flowers & Decor">
						<div class="work-detail">
							<h3 class="project-title mb_10">Rosie Flowers & Decor</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div>
				<!-- <div class="grid-item listing-effect packaging">
					<a href="/assets/images/packaging/floral-post-2.jpg" title="Floral">
						<img src="/assets/images/packaging/floral-post-2.jpg" alt="Floral">
						<div class="work-detail">
							<h3 class="project-title mb_10">Floral</h3>
							<div class="meta-title">Packaging</div>
						</div>
					</a>
				</div> -->
				<!-- <div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/saporem.png" title="Café Saporem">
						<img src="/assets/images/logos/saporem.png" alt="Café Saporem">
						<div class="work-detail">
							<h3 class="project-title mb_10">Café Saporem</h3>
							<div class="meta-title">Branding - Logo</div>
						</div>
					</a>
				</div> -->
				<!-- <div class="grid-item listing-effect packaging">
					<a href="/assets/images/packaging/floral-post-3.jpg" title="Floral">
						<img src="/assets/images/packaging/floral-post-3.jpg" alt="Floral">
						<div class="work-detail">
							<h3 class="project-title mb_10">Floral</h3>
							<div class="meta-title">Packaging</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/shacda.png" title="Société Haitienne de Conseils en Développement Agricole">
						<img src="/assets/images/logos/shacda.png" alt="Société Haitienne de Conseils en Développement Agricole">
						<div class="work-detail">
							<h3 class="project-title mb_10">SHACDA</h3>
							<div class="meta-title">Logo</div>
						</div>
					</a>
				</div>
				<!-- <div class="grid-item listing-effect packaging">
					<a href="/assets/images/packaging/floral-post-4.jpg" title="Floral">
						<img src="/assets/images/packaging/floral-post-4.jpg" alt="Floral">
						<div class="work-detail">
							<h3 class="project-title mb_10">Floral</h3>
							<div class="meta-title">Packaging</div>
						</div>
					</a>
				</div> -->
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/jgb_solutions.jpg" title="JGB Solutions: Web & Mobile Development Services">
						<img src="/assets/images/logos/jgb_solutions.jpg" alt="JGB Solutions: Web & Mobile Development Services">
						<div class="work-detail">
							<h3 class="project-title mb_10">JGB Solutions</h3>
							<div class="meta-title">Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/mp3pam.jpg" title="MP3 Pam: Plateforme de musique disponible sur Android et iOS">
						<img src="/assets/images/logos/mp3pam.jpg" alt="MP3 Pam: Plateforme de musique disponible sur Android et iOS">
						<div class="work-detail">
							<h3 class="project-title mb_10">MP3 Pam</h3>
							<div class="meta-title">Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect logo">
					<a href="/assets/images/logos/social_brunch.jpg" title="Social Brunch">
						<img src="/assets/images/logos/social_brunch.jpg" alt="Social Brunch">
						<div class="work-detail">
							<h3 class="project-title mb_10">Social Brunch</h3>
							<div class="meta-title">Logo</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect flyers">
					<a href="/assets/images/flyers/Flyer-Fete-des-meres-Mockup-flyer.jpg">
						<img src="/assets/images/flyers/Flyer-Fete-des-meres-Mockup-flyer.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Mother's Day Poster</h3>
							<div class="meta-title">Design</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect flyers">
					<a href="/assets/images/flyers/Klasiko Akoustik.jpg">
						<img src="/assets/images/flyers/Klasiko Akoustik.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Klasiko Akoustic Flyer</h3>
							<div class="meta-title">Design</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect flyers">
					<a href="/assets/images/flyers/Mockup-Flyer.jpg">
						<img src="/assets/images/flyers/Mockup-Flyer.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Poster Design</h3>
							<div class="meta-title">Design</div>
						</div>
					</a>
				</div>
				<div class="grid-item listing-effect flyers">
					<a href="/assets/images/flyers/Sea Party.jpg">
						<img src="/assets/images/flyers/Sea Party.jpg">
						<div class="work-detail">
							<h3 class="project-title mb_10">Sea Party Poster</h3>
							<div class="meta-title">Design</div>
						</div>
					</a>
				</div>
			</div>
			<button class="custom-btn custom-btns mt_60" type="button">
				<span>View More Portfolio</span>
			</button>
		</div>
	</div>
</section>