<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<!-- =====  BASIC PAGE NEEDS  ===== -->
	<meta charset="utf-8">
	<title>{{ page.title }} {{ site.name }}</title>

	<!-- =====  SEO MATE  ===== -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="Design, Development, Mobile, Web, Illustration, Printing, Marketing, Haiti">
	<meta name="distribution" content="global">
	<meta name="revisit-after" content="2 Days">
	<meta name="robots" content="ALL">
	<meta name="rating" content="8 YEARS">
	<meta name="Language" content="en-us">
	<meta name="GOOGLEBOT" content="NOARCHIVE">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="Jean Gérard Bousiquot">

	<!-- ====== Open Graph ===== -->
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@{{ site.twitter }}" />
	<meta name="twitter:creator" content="@jgbneatdesign"/>

	<meta property="fb:admins" content="jeangerarddev"/>
	<meta property="fb:app_id" content="112699365802983"/>
	<meta property="og:locale" content="en_EN"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="{{ site.name }}"/>

	<link rel="canonical" href="{{ site.url }}"/>

	<meta property="og:url" content="{{ site.url }}"/>
	<meta property="og:title" content="{{ page.seo_title }} - {{ site.name }}"/>
	<meta property="og:description" content="{{ site.description }}"/>
	<meta property="og:image" content="/assets/images/seo.png"/>

	<!-- =====  MOBILE SPECIFICATION  ===== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <!-- <link href="/assets/css/vendor.css?{{ site.time }}" rel="stylesheet">
    <link href="/assets/css/site.css?{{ site.time }}" rel="stylesheet"> -->
	<!-- =====  CSS  ===== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css?{{ site.time }}"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css?{{ site.time }}"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/menu.css?{{ site.time }}">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css?{{ site.time }}">
	<link rel="stylesheet" type="text/css" href="/assets/css/color/style1.css?{{ site.time }}" id="colors">
	<link rel="stylesheet" type="text/css" href="/assets/css/animation.css?{{ site.time }}">
	<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css?{{ site.time }}">
	<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css?{{ site.time }}">
	<!-- ===== favicons ==== -->
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicons/manifest.json">
	<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body id="home">
	
	<!-- =====  LODER START  ===== -->
	<div class="loder"></div>
	<!-- =====  LODER END  ===== -->